<% include partials/_header %>

<div class="body">

  <div class="container index">
    <h1>Welcome to Code Snippets!</h1>
    <a class="index-button" href="/login">Login</a>
    <a class="index-button" href="/signup">Sign Up</a>
  </div>

</div>

<% include partials/_footer %>
